**
!cmd/
!cmd/**
!internal/
!internal/**
!gen/
!gen/**
!proto/
!proto/**
!clients/
!clients/**
!e2e/
!e2e/**
!scripts/
!scripts/**
!.github/
!.github/**
!LICENSES/
!LICENSES/**
!*.md
!LICENSE
!Makefile
!Dockerfile*
!go.mod
!go.sum
!config.yaml
!docker-compose.yml
!.dockerignore
!.gitignore
**/.git
**/.env*
**/*.pem
**/*.key
**/__pycache__
**/.pytest_cache
**/.venv
**/node_modules
**/build
e2e/client/client
e2e/go-client/go-client
